<div class="container">
  <div class="central-info">
    <h2>CENTRAL INFO</h2>
    <ul>
      <li>Serial Number: {{centralInfo?.serialNumber}}</li>
      <li>MAC Address: {{centralInfo?.mac}}</li>
      <li>Version: {{centralInfo?.softVersion}}</li>
    </ul>
  </div>
  <app-section [allRooms]="allRooms" [sections]="sections" [devices]="devices"></app-section>
</div>
