.container {
  margin: 0 200px;

  ul {
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      list-style-type: none;
      background-color: rgba(23, 24, 42, 0.17);
      padding: 10px;
    }
  }
}
