<div class="sections">
  <h2>SECTIONS</h2>
  <div *ngFor="let section of sections" class="sectionButtons">
    <button (click)="getRoom(section.id)">{{section.name}}</button>
  </div>
</div>

<div class="rooms" *ngIf="isRoomsVisible">
  <h2>ROOMS</h2>
  <div *ngFor="let room of roomsToShow">
    <ul class="roomDetails">
      <li>Room: {{room?.name}}</li>
      <li>Default Thermostat: {{room?.defaultThermostat}}</li>
      <li>
        <ul class="defSensors">
          <li>Humidity: {{room?.defaultSensors.humidity}}</li>
          <li>Light: {{room?.defaultSensors.light}}</li>
          <li>Temperature: {{room?.defaultSensors.temperature}}</li>
        </ul>
      </li>
      <li><button (click)="showDevices(room.id)">Show Devices</button></li>
    </ul>
  </div>
</div>

<div class="devices" *ngIf="isDevicesVisible">
  <h2>DEVICES</h2>
  <div *ngFor="let device of devicesToShow">
    <ul>
      <li>ID: {{device.id}}</li>
      <li>Name: {{device.name}}</li>
      <li>Value: {{device.properties?.value}}</li>
      <li>Log: {{device.properties?.log}}</li>
      <li *ngIf="device.type === 'binary_light'">
        <button (click)="changeDeviceValueBinary(device)">
          <span *ngIf="device.properties?.value == 1">Off</span>
          <span *ngIf="device.properties?.value == 0">On</span>
        </button>
      </li>
      <li *ngIf="device.type === 'dimmable_light'">
        <button (click)="changeDeviceValueDimmable(device)">
          Set random value
        </button>
      </li>
    </ul>
  </div>
</div>
