ul {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(23, 24, 42, 0.17);
  width: 100%;
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    .defSensors {
      border: 1px solid #81bbc6;
      background-color: #456f77;
      color: white
    }
  }
}
.sectionButtons {
  display: flex;
  justify-content: center;
}
.roomDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: #81bbc6;
  padding: 5px 45px;
}
